{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">股票列表</li>
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 20px">
    <div class="input-group" style="width: 400px;text-align: left">
        <form method="post" class="form-inline" novalidate>
            {% csrf_token %}
            <input style="margin-right: 5px" type="text" class="form-control" name="ts_code" placeholder="输入要查询的股票代码">
            <button type="submit" class="btn-secondary">Go!</button>
                <!--<script type="text/javascript">-->
                 <!--function  mymethon(){-->
                        <!--var a=document.getElementById("ts_code").value;-->
                        <!--return a-->
                   <!--}-->
                 <!--</script>-->
        </form>
    </div>
</div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>股票代码</th>
                <th>股票名称</th>
                <th>所属地域</th>
                <th>所属行业</th>
                <th>市场类型</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocklist %}
            <tr>
                <td>{{stock.ts_code}}</td>
                <td class="align-middle"><a href="{% url 'stockinfo' stock.ts_code %}">{{stock.name}}</a></td>
                <td class="align-middle">{{stock.area}}</td>
                <td class="align-middle">{{stock.industry}}</td>
                <td class="align-middle">{{stock.market}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/pagination.html' %}
{% endblock %}